<section class="login">
<div class="titulo">重设密码</div>
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
            <% for message in @user.errors.full_messages %>
              <ul class="ul-top">
                <li><%= message %></li>
              <ul>  
            <% end %>
        </div>
      <% end %>
        <%= f.label t('password') %>
        <%= f.password_field :password %>
        <%= f.label t('confirmation') %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit t("update_password"), class: "enviar" %>
    <% end %>
</section>