<%= render 'shared/error_messages', object: f.object %>

<p><%= t('name') %></p>
<%= f.text_field :name %>

<p><%= t('email') %></p>
<%= f.text_field :email %>

<p>
  <%= t('password') %>(
  <%= t('at_least_6_characters')%>)
</p>
<%= f.password_field :password %>

<%= f.label :password_confirmation, t("confirmation") %>
<%= f.password_field :password_confirmation %>