<% provide(:title, t("edit")) %>
<br />
<h1><%= t('edit')%></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>
      <!--
      <%= image_tag(@user.avatar_url) if @user.avatar? %>
      <%= f.file_field :avatar, multiple: true %>
      -->
    <ul class="unstyled">
      <li><%= t('name') %></li>
      <li><%= f.text_field :name %></li>

      <li><%= t('email') %></li>
      <li><%= f.text_field :email, :readonly=>true %></li>

      <li><%= t('password') %></li>
      <li><%= f.password_field :password %></li>

      <li><%= f.label :password_confirmation, t("confirmation") %></li>
      <li><%= f.password_field :password_confirmation %></li>

      <li><%= f.submit t("save"), class: "btn btn-large btn-primary" %></li>
    </ul>  
    <% end %>
    
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank"><%= t('changes') %></a>
  </div>
</div>
<br />    