<h2>
	<%= t('web_count')%>
</h2>

<div class="row-fluid">
  <div class="span4 offset3"><%= t('people_count')%>:</div>
  <div class="span4"><%= usum %></div>
</div>
<div class="row-fluid">
  <div class="span4 offset3"><%= t('blog_count')%>:</div>
  <div class="span4"><%= msum %></div>
</div>
<div class="row-fluid">
  <div class="span4 offset3"><%= t('comment_count')%>:</div>
  <div class="span4"><%= csum %></div>
</div>