<% sum = 0 %>
<div>评论：<%= @micropost.comments.count()%>条</div><br/>
<% @micropost.comments.each do |comment| %>
<div class="comment">
  <div class="pull-left">
    <%= gravatar_for avatar(comment.user_id) %>
  </div>
  
  <table class="table">  
    <div class="pull-left02"> 
      <ul>
        <li class="li-01"><%= comment_user(comment.user_id) %></li>
        <li class="li-02">评论于&nbsp;<%= time_ago_in_words(comment.created_at) %>&nbsp;前</li>
        <li class="li-03"><%= sum += 1 %>楼</li>
      </ul>
    </div>
    <div class="pull-left02">
      <ul>
        <%= comment.body.html_safe %>
      </ul>
    </div>
  </table>
  <div>
    <% if current_user?(@micropost.user) %>
    <%= link_to '删除此评论', [comment.micropost, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-mini btn-danger" %>
    <% end %>
  </div>
</div>
<hr />
<% end %>
