<div class="pull-left">
  <h3><%= @micropost.title %></h3>
</div>
<table class="table table-hover">
  <td><%= t('author')%>: <%= @user.name %></td>
  <td><%= t('category')%>: <%= @micropost.categ_name %></td>
  <td>
    <%= t('created_time')%>: <%= @micropost.created_at.strftime('%Y-%m-%d %H:%M') %>
  </td>  
  <td class="pull-right">
    <%= render 'shared/shareto' %>
  </td>  
  <% if current_user?(@micropost.user) %>
    <td>
      <%= link_to t("edit"), edit_micropost_path(@micropost), class: "btn btn-mini  btn-info"%>
      <%= link_to t("delete"), @micropost, method: :delete,
                                              data: { confirm: t("your_sure") },
                                              title: @micropost.title,
                                              class: "btn btn-mini btn-danger" %>
    </td> 
  <% end %>
</table>
<p><%= @micropost.content.html_safe %></p><hr/>

<div class="comment_show">
  <%= render 'comment' %>
</div>

<%= form_for([ @micropost, @micropost.comments.build], remote: true) do |f| %>
  <% if signed_in? %>
    <%= f.kindeditor :body, :width => 853, :height => 100 %>
    <%= f.submit t("submit_comment"), class: "btn btn-primary" %>
  <% else %>
    <%= t('comment_login')%> <%= link_to t("singin"), signin_path %>
  <% end %>  
<% end %>