<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "Logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right header-dd" style="margin-top: 25px;">
        <!--
        <li><%= link_to t("chinese"), :controller => controller.controller_name,
              :action => controller.action_name, :locale => "zh"  %>
        </li>
        <li><%= link_to t("english"), :controller => controller.controller_name,
              :action => controller.action_name, :locale => "en" %>
        </li>  
        -->
        <!--li><%= link_to t("home"), root_path %></li-->
        <!--li><%= link_to t("help"), help_path %></li-->
        <% if signed_in? %>
        <li><%= link_to t("new_micropost"), new_micropost_path %></li>
          <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('account') %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          <% if current_user.admin? %>
            <li><%= link_to t("users"), users_path %></li>
          <% end %>
          <li><%= link_to t("profile"), current_user %></li>
          <li><%= link_to t('edit_user'), edit_user_path(current_user) %></li> 
          <li ><%= link_to t("inbox"), mail_boxs_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to t("logout"), signout_path, method: "delete" %>
          </li>
        <% else %> 
          <li><%= link_to t("singin"), signin_path %></li>
          <li><%= link_to t("singup"), signup_path %></li>
        <% end %>

      </ul>	
    </nav>
  </div>
</div>
</header>