<div class="center home">
 <table style="margin-left: auto; margin-right: auto;">
    <td>
      <div class="ih-item square colored effect9 right_to_left">
        <a href="#">
          <div class="img"><%= image_tag("1.jpg") %></div>
          <div class="info">
            <div class="info-back">
              <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
    </td>
    <td>
      <div class="ih-item square colored effect7">
        <a href="#">
          <div class="img"><%= image_tag("2.jpg") %></div>
          <div class="info">
          <div class="info-back">
            <h3>Heading here，Heading here，here</h3>
            <p>Description goes here</p>
          </div>
      </div></a></div>
    </td>
    <td>
      <div class="ih-item square colored effect7">
        <a href="#">
          <div class="img"><%= image_tag("3.jpg") %></div>
          <div class="info">
            <div class="info-back">
              <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
    </td>  
    <td>
      <div class="ih-item square colored effect9 left_to_right">
        <a href="#">
          <div class="img"><%= image_tag("4.jpg") %></div>
          <div class="info">
            <div class="info-back">
              <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
    </td>         
</table>
 <!--table style="margin-left: auto; margin-right: auto;">
    <td>
      <div class="ih-item square colored effect9 right_to_left">
        <a href="#">
          <div class="img"><%= image_tag("1.jpg") %></div>
          <div class="info">
            <div class="info-back">
              <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
    </td>
    <td>
      <div class="ih-item square colored effect9 top_to_bottom">
        <a href="#">
          <div class="img"><%= image_tag("2.jpg") %></div>
          <div class="info">
          <div class="info-back">
            <h3>Heading here，Heading here，here</h3>
            <p>Description goes here</p>
          </div>
      </div></a></div>
    </td>
    <td>
      <div class="ih-item square colored effect9 top_to_bottom">
        <a href="#">
          <div class="img"><%= image_tag("3.jpg") %></div>
          <div class="info">
            <div class="info-back">
              <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
    </td>  
    <td>
      <div class="ih-item square colored effect9 left_to_right">
        <a href="#">
          <div class="img"><%= image_tag("4.jpg") %></div>
          <div class="info">
            <div class="info-back">
              <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
    </td>         
</table-->
</div>




